body {
    margin: 0;
    padding: 0;
}

/* navbar-top */
.navbar-top {
    height: 50px;
    background-color: #333434;
    align-items: center;
}

.adress {
    font-size: 12px;
    color: #fff;
    font-weight: 500;
}

.adress:hover {
    color: #00bcd4;
    text-decoration: none;
    transition: 0.3s;
}

.icon-map {
    font-size: 20px;
    color: #00bcd4;
    margin-right: 10px;
}

.adress-number {
    font-size: 12px;
    color: #fff;
    font-weight: 500;
}

.adress-number:hover {
    color: #00bcd4;
    text-decoration: none;
    transition: 0.3s;
}

.border {
    height: 40px;
    color: #fff;
    margin: 0 20px;
}

.adress-icon i {
    margin: 0 10px;
    color: #fff;
    font-size: 14px;
}

.pl-1,
.px-1 {
    padding-left: 17.5rem !important;
}

/* // navbat-top */
/* navbar */
.navbar {
    height: 100px;
    display: flex;
    background-color: white;
}

.navbar img {
    height: 35px;
    width: 190px;
    margin-left: 20.5rem;
}

.navbar-nav {
    display: flex;
    position: relative;
    align-items: center;
    padding-right: 12.5rem;
}

.navbar-nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar-nav ul li a {
    margin: 0 15px;
    font-size: 12px;
    color: #000;
    font-weight: 400;
}

.navbar-nav ul li a:hover {
    color: #00bcd4;
    text-decoration: none;
    transition: 0.3s;
}

.navbar-nav ul li a:hover i {
    color: #00bcd4;
    transition: 0.3s;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.home {
    margin: 0 10px;
    font-size: 12px;
    color: #000;
    font-weight: 400;
    padding-bottom: 45px;
    padding-top: 60px;


}

.home:hover {
    color: #00bcd4;
    text-decoration: none;
    transition: 0.3s;
}

.nav-home {
    display: flex;
    flex-direction: column;
    padding: 25px 70px 25px 25px;
    justify-content: center;
    background-color: white;
    position: absolute;
    margin-top: 90px;
    visibility: hidden;
    opacity: 0;
    z-index: 500;
}

.nav-home .home-variant {
    font-size: 15px;
}

.home:hover .nav-home {
    margin-top: 40px;
    visibility: visible;
    opacity: 1;
    background-color: white;
    transition: 0.5s;
    z-index: 500;

}

.features1 {
    margin: 0 10px;
    font-size: 12px;
    color: #000;
    font-weight: 400;
    padding-bottom: 45px;
    padding-top: 60px;
}

.features2 {
    display: flex;
    flex-direction: column;
    padding: 25px 110px 25px 15px;
    justify-content: center;
    background-color: white;
    position: absolute;
    margin-top: 90px;
    visibility: hidden;
    opacity: 0;
    z-index: 500;
}

.features1:hover .features2 {
    margin-top: 40px;
    visibility: visible;
    opacity: 1;
    background-color: white;
    transition: 0.5s;
    z-index: 500;
}

.features2 .headers {
    font-size: 15px;
}

.features2 .footers {
    font-size: 15px;
}

.headers,
.footers:hover i {
    color: #00bcd4;
    transition: 0.3s;
    transform: none;
}

.about {
    margin: 0 10px;
    font-size: 12px;
    color: #000;
    font-weight: 400;
    padding-bottom: 45px;
    padding-top: 60px;
    display: flex;
    align-items: center;
}

.services1 {
    margin: 0 10px;
    font-size: 12px;
    color: #000;
    font-weight: 400;
    padding-bottom: 45px;
    padding-top: 60px;
    display: flex;
    align-items: center;
}

.services1:hover {
    color: #00bcd4;
    text-decoration: none !important;
    transition: 0.3s;

}

.services1:hover i {
    color: #00bcd4;
    transition: 0.3s;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.services2 {
    display: flex;
    flex-direction: column;
    padding: 25px 110px 25px 15px;
    justify-content: center;
    background-color: white;
    position: absolute;
    margin-top: 120px;
    visibility: hidden;
    opacity: 0;
    z-index: 500;
}

.services1:hover .services2 {
    margin-top: 85px;
    visibility: visible;
    opacity: 1;
    background-color: white;
    transition: 0.5s;
    z-index: 500;
}

.single-services {
    font-size: 15px;
}

.icons-search i {
    font-size: 20px;
    color: #c7c7c7;
}

.h4 {
    font-size: 24px;
    line-height: 1.5;
}

.card-title{
    padding-top: 30px;
    padding-left:200px;
}